@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.btn-shadow {
  box-shadow: -2px 15px 22px -8px rgba(255, 125, 26, 0.77);
}
